* {
 margin: 0;
}

body {
    background-color: rgba(255, 255, 255, 0.144);
    font-family: calibri;
    font-size: 18px;
    color: #333333;

}

.topo {
    background-color: #157cc0ef;
    padding: 10px;

}

.topo a {
    color:#bbbbbb;
    text-decoration: nome;

}

article a {
 background-color: #157cc0ef;
    color: #333333;
    text-decoration: none;
    padding: 04px;

}
article{
 background-color: #bbbbbb;
    padding: 50px;
margin-bottom: 50px;
}
.rodape{
    background-color: #157cc0ef;
    color: #fffefe;
    padding: 40px;

}
main{
    padding: 10px;
}
